In [27]:
import pandas as pd
import numpy as np

In [31]:
file_path = r'C:\Users\emin.sen\Downloads\salaries.csv'

df = pd.read_csv(file_path)
print(df.head())

   work_year experience_level employment_type             job_title  salary  \
0       2024               MI              FT        Data Scientist  120000
1       2024               MI              FT        Data Scientist   70000
2       2024               MI              CT        Data Scientist  130000
3       2024               MI              CT        Data Scientist  110000
4       2024               MI              FT  Data Science Manager  240000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         120000                 AU             0
1             USD          70000                 AU             0
2             USD         130000                 US             0
3             USD         110000                 US             0
4             USD         240000                 US             0

  company_location company_size gender
0               AU            S      F
1               AU            S      M
2               US            M      M
3               US            M      M
4               US            M      M

In [32]:
level_mapping = {
    'EN': 'Entry Level',
    'EX': 'Experienced',
    'MI': 'Mid-Level',
    'SE': 'Senior'
}

df['level'] = df['experience_level'].map(level_mapping)

print(df.head())

   work_year experience_level employment_type             job_title  salary  \
0       2024               MI              FT        Data Scientist  120000
1       2024               MI              FT        Data Scientist   70000
2       2024               MI              CT        Data Scientist  130000
3       2024               MI              CT        Data Scientist  110000
4       2024               MI              FT  Data Science Manager  240000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         120000                 AU             0
1             USD          70000                 AU             0
2             USD         130000                 US             0
3             USD         110000                 US             0
4             USD         240000                 US             0

  company_location company_size gender      level
0               AU            S      F  Mid-Level
1               AU            S      M  Mid-Level
2               US            M      M  Mid-Level
3               US            M      M  Mid-Level
4               US            M      M  Mid-Level

In [33]:
file_path2 = r'C:\Users\emin.sen\Downloads\Country Codes - countrycodes.csv'

df2 = pd.read_csv(file_path2)

print(df2.head())

  Alpha-2         Country
0      AF     Afghanistan
1      AL         Albania
2      DZ         Algeria
3      AS  American Samoa
4      AD         Andorra

In [35]:
country_mapping = df2.set_index('Alpha-2')['Country'].to_dict()
df['country'] = df['employee_residence'].map(country_mapping)
df['company_country'] = df['company_location'].map(country_mapping)
print(df.head())

   work_year experience_level employment_type             job_title  salary  \
0       2024               MI              FT        Data Scientist  120000
1       2024               MI              FT        Data Scientist   70000
2       2024               MI              CT        Data Scientist  130000
3       2024               MI              CT        Data Scientist  110000
4       2024               MI              FT  Data Science Manager  240000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         120000                 AU             0
1             USD          70000                 AU             0
2             USD         130000                 US             0
3             USD         110000                 US             0
4             USD         240000                 US             0

  company_location company_size gender      level                   country  \
0               AU            S      F  Mid-Level                 Australia
1               AU            S      M  Mid-Level                 Australia
2               US            M      M  Mid-Level  United States of America
3               US            M      M  Mid-Level  United States of America
4               US            M      M  Mid-Level  United States of America

            company_country
0                 Australia
1                 Australia
2  United States of America
3  United States of America
4  United States of America

In [50]:
 
 
df = df.reset_index(drop=True)
df.index.name = 'row_number'

print(df.head())

            work_year experience_level employment_type             job_title  \
row_number
0                2024               MI              FT        Data Scientist
1                2024               MI              FT        Data Scientist
2                2024               MI              CT        Data Scientist
3                2024               MI              CT        Data Scientist
4                2024               MI              FT  Data Science Manager

            salary salary_currency  salary_in_usd employee_residence  \
row_number
0           120000             USD         120000                 AU
1            70000             USD          70000                 AU
2           130000             USD         130000                 US
3           110000             USD         110000                 US
4           240000             USD         240000                 US

            remote_ratio company_location company_size gender      level  \
row_number
0                      0               AU            S      F  Mid-Level
1                      0               AU            S      M  Mid-Level
2                      0               US            M      M  Mid-Level
3                      0               US            M      M  Mid-Level
4                      0               US            M      M  Mid-Level

                             country           company_country   Currency
row_number
0                          Australia                 Australia  US Dollar
1                          Australia                 Australia  US Dollar
2           United States of America  United States of America  US Dollar
3           United States of America  United States of America  US Dollar
4           United States of America  United States of America  US Dollar

In [51]:
path = r'C:\Users\emin.sen\Desktop\salaries.csv'
df.to_csv(path)

In [42]:
file_path3 = r'C:\Users\emin.sen\Downloads\Country Codes - currency codes.csv'

df3 = pd.read_csv(file_path3)

print(df3.head())

          Country        Currency Code  Number
0     AFGHANISTAN         Afghani  AFN   971.0
1         ALBANIA             Lek  ALL     8.0
2         ALGERIA  Algerian Dinar  DZD    12.0
3  AMERICAN SAMOA       US Dollar  USD   840.0
4         ANDORRA            Euro  EUR   978.0

In [49]:
currencymap = df3.set_index('Code')['Currency'].to_dict()
df['Currency'] = df['salary_currency'].map(currencymap)
print(df.head())

            work_year experience_level employment_type             job_title  \
row_number
0                2024               MI              FT        Data Scientist
1                2024               MI              FT        Data Scientist
2                2024               MI              CT        Data Scientist
3                2024               MI              CT        Data Scientist
4                2024               MI              FT  Data Science Manager

            salary salary_currency  salary_in_usd employee_residence  \
row_number
0           120000             USD         120000                 AU
1            70000             USD          70000                 AU
2           130000             USD         130000                 US
3           110000             USD         110000                 US
4           240000             USD         240000                 US

            remote_ratio company_location company_size gender      level  \
row_number
0                      0               AU            S      F  Mid-Level
1                      0               AU            S      M  Mid-Level
2                      0               US            M      M  Mid-Level
3                      0               US            M      M  Mid-Level
4                      0               US            M      M  Mid-Level

                             country           company_country   Currency
row_number
0                          Australia                 Australia  US Dollar
1                          Australia                 Australia  US Dollar
2           United States of America  United States of America  US Dollar
3           United States of America  United States of America  US Dollar
4           United States of America  United States of America  US Dollar

In [47]:
df.to_csv(path)